a {
  text-decoration: none;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT"), local("FuturaPT"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT"), local("FuturaPT"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.header__menu a, .about__list li b, .world__item_text b, .world .learning p b, .roadmap__item p {
  font-family: 'Futura PT';
  font-weight: 700;
}

body {
  font-family: 'Futura PT';
  font-weight: 400;
}

.header__btn, .main-offer__btn, .about__btns a, .world .learning__btn, .world__btn, .cookies__btn, h1, h2, .head-string__text, .world__item_title, .partners__items .second-title, .mobile-menu__item .comming-soon {
  font-family: 'Lilita One', cursive;
}

.header__btn, .main-offer__btn, .about__btns a, .world .learning__btn {
  background: #5133AB;
  -webkit-box-shadow: inset 0px 2px 0px #6C4CCE, inset 0px -2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 2px 0px #6C4CCE, inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__btn:hover, .main-offer__btn:hover, .about__btns a:hover, .world .learning__btn:hover {
  color: #fff;
  background: #6849c5;
}

.world__btn, .cookies__btn {
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 0px 1px 0 #5133ab, 0px -1px 0 #5133ab, 1px 0px 0 #5133ab, -1px 0px 0 #5133ab, 1px 1px 0 #5133ab, 1px -1px 0 #5133ab, -1px 1px 0 #5133ab, -1px -1px 0 #5133ab, 2px 2px 1px black;
  -webkit-text-shadow: 0px 1px 0 #5133ab, 0px -1px 0 #5133ab, 1px 0px 0 #5133ab, -1px 0px 0 #5133ab, 1px 1px 0 #5133ab, 1px -1px 0 #5133ab, -1px 1px 0 #5133ab, -1px -1px 0 #5133ab, 2px 2px 1px black;
  -moz-text-shadow: 0px 1px 0 #5133ab, 0px -1px 0 #5133ab, 1px 0px 0 #5133ab, -1px 0px 0 #5133ab, 1px 1px 0 #5133ab, 1px -1px 0 #5133ab, -1px 1px 0 #5133ab, -1px -1px 0 #5133ab, 2px 2px 1px black;
  background: #FFFFFF;
  -webkit-box-shadow: inset 0px 2px 0px #6C4CCE, inset 0px -2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 2px 0px #6C4CCE, inset 0px -2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.world__btn:hover, .cookies__btn:hover {
  color: #fff;
  background: #f2eeff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

body {
  background: #200038;
  font-size: 20px;
  color: #fff;
  line-height: 25.6px;
}

.head-string {
  padding: 12px 0;
  background: #5133AB;
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25), inset 0px 2px 0px #6C4CCE;
          box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25), inset 0px 2px 0px #6C4CCE;
}

.head-string__text {
  padding: 0;
  margin: 0;
  text-align: center;
}

.head-string__burger {
  display: none;
}

main {
  background: url(../img/main-bg.png) no-repeat center top;
  min-height: 807px;
  padding-bottom: 66px;
}

.header {
  padding-top: 35px;
}

.header__menu a {
  font-size: 16px;
  text-shadow: 0px 2px 2px #420681;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__menu a:hover {
  text-shadow: 0px 0px 10px #FFFFFF;
}

.header__btn {
  width: 160px;
  height: 45px;
  margin-left: auto;
}

.main-offer {
  margin-top: 200px;
}

.main-offer__text {
  font-size: 22px;
  margin: 32px 0 87px 0;
}

.main-offer__btn {
  width: 180px;
  height: 62px;
}

.main-link {
  font-size: 17px;
  color: #fff;
  text-decoration: underline;
  margin-top: 100px;
  display: block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-link:hover {
  color: #fff;
}

.about {
  background: url(../img/bg2.png) no-repeat center top/cover;
  padding: 173px 0 167px 0;
}

.about__planet-img {
  margin-top: 15px;
}

.about h2 {
  margin-bottom: 20px;
}

.about__list {
  list-style: disc;
  margin-top: 25px;
}

.about__list li {
  margin-bottom: 3px;
}

.about h2.second-title, .about .about__fish-img {
  margin-top: 86px;
}

.about__btns {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__btns a {
  width: 180px;
  height: 62px;
}

.about__btns a:nth-child(2) {
  margin-left: 81px;
}

.world {
  background: url(../img/bg3.png) no-repeat center top/cover;
}

.world .second-title {
  margin: 25px 0 116px 0;
  font-size: 22px;
}

.world__item_title {
  font-size: 64px;
  line-height: 73px;
  margin-top: 34px;
}

.world__item_text {
  font-size: 17px;
  line-height: 22px;
}

.world__item.custom img {
  margin-top: -63px;
}

.world__item.custom .world__item_title {
  margin-top: 7px;
}

.world__btn {
  width: 350px;
  height: 62px;
  margin: 70px auto 0 auto;
  margin-bottom: 176px;
}

.world .learning h2 {
  margin: 65px 0 20px 0;
}

.world .learning__btn {
  width: 180px;
  height: 62px;
  margin-top: 33px;
}

.world .learning__img-mobile {
  display: none;
}

.things {
  padding-top: 195px;
}

.things__title {
  margin-bottom: 65px;
}

.things__item {
  position: relative;
  margin-bottom: 70px;
}

.things__item img {
  position: absolute;
  top: 0;
  left: 0;
}

.things__item_text {
  margin: 0 0 0 280px;
  padding-top: 100px;
}

.things__item_text p {
  font-size: 20px;
  line-height: 26px;
  margin-top: 11px;
}

.things__item_text p span {
  text-decoration: underline;
}

.things__email {
  margin: 74px 0 136px 0;
  position: relative;
}

.things__email .shark {
  position: absolute;
  top: -260px;
  left: 10px;
  z-index: -1;
}

.things__email a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.things__email a:hover {
  text-decoration: none;
}

.roadmap {
  overflow: hidden;
}

.roadmap h2 {
  margin-bottom: 65px;
}

.roadmap__carousel .owl-dot span {
  width: 42px !important;
  height: 14px !important;
  background: #5133AB !important;
  border-radius: 50px !important;
}

.roadmap__carousel .owl-dot.active span {
  width: 14px !important;
  border: 1px solid #5133AB !important;
  background: none !important;
}

.roadmap__carousel .owl-stage-outer {
  width: calc(100% + (100vw - 1140px)/2);
}

.roadmap__carousel .owl-item:not(:last-child)::after {
  position: absolute;
  top: 60px;
  left: 152px;
  content: url(../img/bubble-small.svg);
}

.roadmap__item_bubble {
  width: 144px;
  height: 144px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

.roadmap__item_bubble img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.roadmap__item p {
  z-index: 1;
}

.roadmap__item_number {
  position: absolute;
  top: 13px;
  right: 20px;
}

.roadmap__item_title {
  position: relative;
}

.roadmap__item_list {
  width: 144x;
  padding-left: 20px;
}

.roadmap__item_list li {
  font-size: 16px;
  line-height: 19px;
}

.down-bg {
  background: url(../img/down-bg.png) no-repeat center top/cover;
}

.partners {
  padding-top: 84px;
}

.partners__title {
  margin-bottom: 41px;
}

.partners__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.partners__items .item {
  width: 131px;
  margin: 0 20px 18px 20px;
}

.partners__items .item img {
  width: 100%;
}

.partners__items .second-title {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 72px;
  text-align: center;
}

.contacts {
  margin-top: 180px;
}

.contacts__socials {
  margin: 24px 0 32px 0;
}

.contacts__socials_item {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #27C7EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__socials_item:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #27C7EC;
}

.contacts__socials_item:hover svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  fill: #fff !important;
}

.contacts__socials_item:nth-child(2n) {
  margin: 0 39px;
}

.contacts__links {
  margin-bottom: 14px;
}

.contacts__links * {
  font-size: 24px;
  line-height: 31px;
  color: #5133AB;
}

.contacts__links a:hover {
  text-decoration: underline;
  color: #5133AB;
}

.contacts__links span {
  margin: 0 10px;
}

.contacts__copyright {
  font-size: 24px;
  margin: 25px 0 36px 0;
}

.cookies {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 19px 0;
  background: #5133AB;
}

.cookies.active {
  display: block;
}

.cookies__text {
  font-size: 16px;
  margin: 0;
}

.cookies__text a {
  color: #fff;
  text-decoration: underline;
}

.cookies__text a:hover {
  text-decoration: none;
}

.cookies__btn {
  width: 125px;
  height: 46px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
  background: none;
  border-radius: 3px;
}

.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: #341b48;
  padding: 16px 24px;
}

.mobile-menu__wrapper {
  position: relative;
  height: 100%;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu__close {
  display: block;
  margin-left: auto;
  margin-bottom: 47px;
}

.mobile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 27px;
  margin-bottom: 17px;
}

.mobile-menu__item a {
  display: block;
  min-width: 95px;
  text-align: right;
  margin-left: 5px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.mobile-menu__item .comming-soon {
  width: 84px;
  height: 20px;
  background: #5133AB;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-menu__footer .contacts__links {
  margin-bottom: 6px;
}

.mobile-menu__socials {
  margin: 0 0 27px 0;
}

.mobile-menu__socials_item {
  border-color: #fff;
}

.mobile-menu__socials svg path {
  fill: #fff;
}

.mobile-menu__credits {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .things__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .things__item img {
    position: relative;
    margin-right: 10px;
  }
  .things__item.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .things__item.reverse img {
    margin-right: 0;
    margin-left: 10px;
  }
  .things__item_text {
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
  .things__email {
    margin-top: 0;
  }
  .roadmap__carousel .owl-stage-outer {
    width: calc(100% + (100vw - 960px)/2) !important;
  }
}

@media (max-width: 991px) {
  .head-string__text {
    text-align: left;
  }
  .head-string__burger {
    display: block;
    margin-left: auto;
  }
  .mobile-menu {
    display: block;
  }
  .header {
    display: none;
  }
  .about__reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about h2.second-title {
    margin-top: 0;
  }
  .world {
    background: none;
  }
  .world__item {
    text-align: center;
  }
  .world__item p {
    text-align: left;
  }
  .world .second-title {
    margin-bottom: 50px;
  }
  .world .learning__img-desktop {
    display: none;
  }
  .world .learning__img-mobile {
    display: block;
    margin: 26px auto 29px auto;
  }
  .world .learning__btn {
    margin: 0 auto;
  }
  .roadmap__carousel .owl-stage-outer {
    width: calc(100% + (100vw - 720px)/2) !important;
  }
  .partners__items .item.dn {
    display: none;
  }
  .cookies__text {
    margin-bottom: 10px !important;
  }
  .cookies__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 21px;
  }
  h1 {
    font-size: 39px;
    line-height: 45px;
  }
  h2 {
    font-size: 33px;
    line-height: 38px;
  }
  main {
    background: url(../img/main-bg-mobile.png) no-repeat center top;
    background-size: contain;
    padding-bottom: 0;
    min-height: auto;
  }
  .head-string {
    font-size: 17px;
    line-height: 19px;
  }
  .main-offer {
    margin-top: 226px;
  }
  .main-offer h1 {
    margin-bottom: 0;
  }
  .main-offer__text {
    font-size: 16px;
    line-height: 21px;
    margin: 43px 0 166px 0;
  }
  .main-link {
    margin-top: 43px;
  }
  .about {
    padding: 75px 0 50px 0;
    background: url(../img/about-bg-mobile.png) no-repeat center top;
  }
  .about img {
    max-width: 100%;
  }
  .about h2 {
    text-align: center;
  }
  .about__planet-img {
    margin-bottom: 46px;
  }
  .about__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 54px;
  }
  .about__btns a {
    margin: 0 auto;
  }
  .about__btns a:nth-child(2) {
    margin: 29px auto 0 auto;
  }
  .world .second-title {
    font-size: 16px;
    margin: 9px 0 45px 0;
  }
  .world__item {
    margin-bottom: 47px;
  }
  .world__item_title {
    font-size: 33px;
    line-height: 38px;
    margin: 25px 0 12px 0;
  }
  .world__item img {
    max-width: 100%;
    margin-top: 0 !important;
  }
  .world__btn {
    margin: 30px auto 0 auto;
  }
  .world .learning h2 {
    text-align: center;
    margin: 110px 0 29px 0;
  }
  .world .learning img {
    max-width: 100%;
  }
  .things {
    padding-top: 79px;
  }
  .things__item {
    margin-bottom: 45px;
  }
  .things__item img {
    max-width: 188px;
  }
  .things__item_text p {
    font-size: 16px;
    line-height: 21px;
  }
  .things__email {
    margin: 20px 0 0 0;
  }
  .things__email .shark {
    display: none;
  }
  .roadmap {
    padding-top: 77px;
  }
  .roadmap__carousel .owl-stage-outer {
    width: 100% !important;
  }
  .partners__items .item {
    width: 89px;
    margin: 0 0 12px 0;
  }
  .partners__items .item:nth-child(2n) {
    margin: 0 13px 12px 13px;
  }
  .partners__items .second-title {
    top: 180px;
  }
  .contacts {
    margin-top: 0;
    padding-top: 98px;
  }
  .contacts__socials {
    margin: 7px 0 12px 0;
  }
  .contacts__links {
    margin-bottom: 11px;
  }
  .contacts__links * {
    font-size: 16px;
    line-height: 21px;
  }
  .contacts__copyright {
    font-size: 16px;
    line-height: 21px;
    margin: 63px 0 51px 0;
  }
  .down-bg {
    background: url(../img/down-bg-mobile.png) no-repeat center bottom;
  }
}
